@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth ;
  }

  body {
    @apply bg-gray-100 text-gray-600 min-h-screen font-inter;
  }
}

@layer utilities {
  /* Typography */
  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }
  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }
  /* leftsidebar */
  .leftsidebar {
    @apply fixed top-0 left-0 z-40 w-64 h-screen;
  }
  /* Card Repository */
  .card-repository {
    @apply  max-w-[28rem] whitespace-normal break-words rounded-lg border bg-white p-4 text-sm font-normal shadow-lg hover:scale-105 focus:outline-none;
  }
  .card-repository__name {
    @apply text-base font-medium leading-relaxed tracking-normal antialiased transition-colors hover:text-pink-500 cursor-pointer;
  }
  .card-repository__visibility {
    @apply relative inline-block select-none whitespace-nowrap rounded-full bg-purple-500 px-2 py-1 align-baseline text-xs font-medium capitalize leading-none tracking-wide text-white;
  }
  .group-button {
    @apply flex gap-4;
  }
  /* Custom scrollBar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}
